/*.php
/*.html
/*.json
/*.txt
.htaccess

ehthumbs.db
Thumbs.db
*.DS_Store

*.sublime-project
*.sublime-workspace
*.komodoproject

*.com
*.class
*.dll
*.exe
*.o
*.so

.vscode

node_modules

!.gitignore
!gulpfile.js
!package.json
